* {
    font-family: roboto;
}

.dealer-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: #3e7651;*/
    background-image: url(https://media.istockphoto.com/vectors/seamless-pattern-with-playing-card-suits-on-green-background-vector-id696973922?k=20&m=696973922&s=612x612&w=0&h=b-E6w7KobibLFtHvvSqQQQy8hK14VM-c-YkHY4zVjF4=);
    background-size: 200px;
    border: 3px solid black;
    border-radius: 20px;
    width: 10vh;
    height: 70vh;
    margin: 10px;
    box-shadow: 10px 10px 10px white inset;

}
.player {
    color: white;
    display: block;
    width: 95%;
    margin: 1%;
}
.hand {
    background-color: #509768;
    height: 12vh;
    display: flex;
}

.hand * {
    margin: 1% 0 1% 1%;

}
.hand:first-child {
    margin: 1% 1%;
}